#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  border-color: black;
  border-width: 5px;
  border-style: solid;
  background-color: white;
}

@media (min-width: 10px) {
  a:hover {
    background-color: yellow;
  }
}
